# Docker / registry placeholders
DOCKERHUB_USERNAME=PUT_DOCKER_USERNAME_HERE
DOCKERHUB_TOKEN=PUT_DOCKER_TOKEN_HERE

# Cloud placeholders
CLOUD_PROVIDER=render_or_railway_or_aws
CLOUD_API_TOKEN=PUT_CLOUD_TOKEN_HERE
CLOUD_LOGS_URL=PUT_CLOUD_LOG_URL_HERE
